# Ignore PDFs and VTT transcripts
*.pdf
*.vtt
*.docx
*.doc

# --- OS / editor ---
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# --- Python ---
__pycache__/
*.py[cod]
*.pyd
*.so
.venv/
venv/

inputs/
outputs/

.env

.chroma_db/
chroma_db/
__pycache__/

